body {
  font-family: Cormorant, serif;
}

h1 {
  display: inline-block; 
  font-weight: 300;
  /* only right has 32px margin */
  margin: 0 32px 0 0;  
}

.links {
  display: inline-block;
}

.links li {
  display: inline-block;
}

.links a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px; 
}

.links ul {
  padding: 0;
}

.navbar {
  margin: 32px;
}

a.active {
  /* instead of using:  */
  /* text-decoration: underline; */
  border-bottom: 2px solid black;
}

.gallery {
  padding: 16px;
}

.card {
  width: 49.75%;
  display: inline-block;
  box-sizing: border-box;
  /* the width of the content does shrink down to accommodate the extra padding */
  padding: 10px;
  /* border: 1px solid purple; */
  /* margin: 20px; */
}

.card img {
  height: 500px;
  width: 100%;
  /* making image is not stretching when shrinking the web page */
  object-fit: cover;
}

.card h2 {
  display: inline-block;
  margin: 8px 0 16px 0;
  font-weight: 300;
}

.about {
  width: 40%;
  /* to avoid shrinking when we try to decrease the website */
  min-width: 600px;
  margin: 100px 0 100px 200px;
}

.about h3 {
  font-weight: 300;
  font-size: 40px;
}

.contact {
  margin-top: 100px;
}

.contact p {
  margin: 0;
  font-size: 20px;
}

.cta {
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 8px;
  /* after checking .cta's margin-top is big or h3's margin-bottom is big */
  margin-top: 0;
}

.card img:hover {
  opacity: 0.7;
}


/* working on making website responsive */
@media only screen and (max-width: 1000px) {
  /* making it to look strech */
  .card {
    width: 100%;
  }

  .about {
    margin: 100px 0 100px 100px;
  }
}

@media only screen and (max-width: 700px) {
  /* removing some space on left and right  -> removing padding on .card and .gallery*/
  .card {
    padding: 0;
  }

  .gallery {
    padding: 8px;
  }

  .about {
    margin: 100px auto;
    /* still too wide because of min-width */
    min-width: 450px;
  }
}
